<a href="https://colab.research.google.com/github/tnqkrghd/class2021spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1; print(type(a))

<class 'int'>

In [2]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [3]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [4]:
a = 1.2; a = int(a); print(type(a)); print(a)

<class 'int'>
1

float 를 int 로 형변환 시에는 반올림이 적용된다.

In [5]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [6]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

list 함수를 이용하면 문자열의 각 문자를 원소로 하는 리스트를 생성할 수 있다.

print 된 결과를 언뜻 보면 int 같지만, type 을 확인해보면 문자열이다.

In [7]:
sample=['a', 'b', 'c']
sample[2] = 'z'
sample

['a', 'b', 'z']

인덱싱을 통해 리스트의 원소를 수정할 수 있다.

In [8]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [9]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

tuple 은 list 와 달리, 수정이 불가능하다.

In [10]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [11]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]